@import url('https://fonts.googleapis.com/css2? family= Inter:wght@700 & display=swap');

* {
    margin: 0;
}

:root {
    --cor-primaria: #0a3871;
    --cor-secundaria: #0a3871;
    --cor-titulo: #343A40;
    --cor-paragrafo: #495057;
    --cor-fundo: #f3f5fc;
    --cor-fundo-scroubar: #d8dfe8;
    --cor-botao: #f0f8ff;
    --cor-botao-fundo: var(--cor-primaria);
    --estilo-font: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--cor-fundo-scroubar);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 8px;
}

body {
    /* min-height: 100vh; */
    background-color: var(--cor-fundo);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    gap: 5%;
    height: 100vh;
}

.logo {
    position: absolute;
    margin: 3%;
}

.input {
    min-height: 80vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 30px 0 0 30px;
}


.text_stream {
    border: none;
    color: var(--cor-primaria);
    font-family: var(--estilo-font);
    font-size: 150%;
    font-weight: 400;
    resize: none;
}

.text_stream:focus {
    outline: 0;
}

#input_stream {
    background-color: transparent;
    width: 100%;
    min-height: 400px;
}

.ho {
    max-width: 100%;
}

.warning {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px;
    color: var(--cor-paragrafo);
    font-family: var(--estilo-font);
    font-weight: 400;
}

.button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.buttons {
    border: 2px solid var(--cor-botao-fundo);
    border-radius: 20px;
    font-family: var(--estilo-font);
    font-weight: 400;
    max-width: 100%;
    width: 328px;
    height: 67px;
}

#cript_button {
    background-color: var(--cor-botao-fundo);
    color: var(--cor-botao);
}

#cript_button:hover {
    background-color: #09305f;
}

#decript_button {
    background-color: #d8dfe8;
    color: var(--cor-primaria);
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    height: 90vh;
    /* min-height: 800px; */
    min-width: 400px;
}

.info {
    text-align: center;
    width: 300px;
}

#title {
    color: var(--cor-titulo);
    height: 3.625rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#paragrafo {
    color: var(--cor-paragrafo);
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#output_background {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

#mensagems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    min-height: 90%;
    overflow-y: auto;
    overflow-x: clip;
}

.copy-button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.teste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--estilo-font);
    color: var(--cor-primaria);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 90%;
    min-height: 50px;
    padding: 8px;
}

@media (max-width: 1040px) {
    main {
        flex-direction: column;
    }

    .input {
        min-height: 90vh;
        max-width: 90%;
        align-items: center;
    }
}

@media (max-width: 770px) {

    .input {
        margin-left: 0;
    }

    .button-section {
        flex-direction: column;
    }

    #input_stream::placeholder {
        text-align: center;
    }
}

@media (max-width: 510px) {
    .logo {
        position: relative;
        margin: 5%;
    }

    .input {
        margin-top: 0;
    }
}